@import 'global/var';
@import 'global/grid';
@import 'global/forms';

:global {
  html, body {
    height: 100%;
    width: 100%;
  }

  html {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    color: $black;
    font-size: 16px;
    line-height: 1.5;
    background-color: $white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }

  *,
  *:after,
  *:before {
    box-sizing: inherit
  }
  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }
  .panel-body {
    padding: 15px;
  }
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .panel-default {
    border-color: #ddd;
  }
  .panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }
  .button-list {
    list-style-type: none;
  }
  .button-list li {
    margin-bottom: 5px;
  }
}

